# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Vector DB (local only)
chroma_db/

# Secrets
.env
API KEY RAG.txt

# Node / React
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/